/*======================== general ===========================*/
.content-wrapper {
	background-color: #fff;
}
.skin-blue .content-header {
	padding: 15px;
	border-bottom: 1px solid #d2d6de;
}
.content-header>.breadcrumb {
	font-size: 14px;
}
.content-header>.breadcrumb>li>a {
	color: #3c8dbc;
}
.required {
	color: #ec463e;
}
/*====================== transfers ===========================*/
.delete {
	border: unset;
	background-color: unset;
	color: #ec463e;
}
.box_upload {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
#transferForm .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255,255,255,0.2);
    border: 2px dashed #00c0ef;
    text-align: center;
    transition: background 0.3s ease-in-out;
}
.box_upload:focus + .file-dummy {
    /*outline: 2px solid rgba(255,255,255,0.5);*/
    /*outline: -webkit-focus-ring-color auto 5px;*/
  }