@charset "utf-8";
/* CSS Document */
/*===========================================================================================================*/
/*=========================================== GENERAL SETTINGS ==============================================*/
/*===========================================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic,300);
@media (max-width: 750px){
	.ulairport li{
		width: 100%;
	}
	.txtslider p {
		margin-top: 1em;
	}
	#showchangetransfer {
		margin-top: 15px;
	}
	.newsletterdesc {
		font-size: 1em !important;
	}
	.wrapnewsletter div.social>a {
		margin:0px 0px 10px !important;
	}
	.boxprice {
		padding-top: 15px;
	}
	.wrapboxcarttour h3 {
		font-size: 1.5em;
		line-height: 135%;
		margin-bottom: 20px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header,
	.navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.dropdown.open .dropdown-menu li:nth-child(even) {
		/*float: right;*/
		padding-left: unset;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.page-input .summary-container {
		position: relative;
	}
}
@media (min-width: 768px){
	.ulairport li {
		width: 49%;
	}
	.checkout-step .labelstep {
		font-size: 1em !important;
	}
	.checkout-step .numstep:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}
	.boxprice {
		text-align: right;
		margin-top:75px;
	}
	.quicksearchtitle ul li {
		margin-right: 40px;
	}
}
@media (min-width: 992px){
	.ulairport li {
		width: 33%;
	}
	.tttransfer p {
		font-size: 1.2em !important;
	}
	.boxtourform .input-group-addon {
		width:70%;text-align:left
	}
	.boxwrappricetransfer {
		border-left:1px dotted #fff;
	}
}
@media (min-width: 1200px){
	.txtslider h1.h1slide {
		font-size: 1.875em !important;
	}
	.boxtourform .input-group-addon {
		width:60%;
	}
	.thumbdest h1 {
		font-size:2.5em !important;
	}.thumbdest p {
		font-size:1.5em !important;
	}
	.slidebigtext {
		font-size:3em !important;
	}
	.slidesmalltext {
		font-size: 1.5em !important;
	}
	.dropdown:hover ul.dropdown-menu {
		display: block;
		color: rgba(94, 211, 82, .7);
	}
}
@media only screen and (min-width: 560px) and (max-width: 600px){
	.boxdes {
		width:50%;float:left;
	}
	.dropdown .dropdown-menu li {
	    width: unset !important;
	}
	.dropdown-menu {
		display: block!important;
	}
}
@media (max-width: 500px) {
}
::-webkit-input-placeholder {
    color:    #999;
    font-style: italic;
}
:-moz-placeholder {
    color:    #999;
    font-style: italic;
}
::-moz-placeholder {
    color:    #999;
    font-style: italic;
}
:-ms-input-placeholder {
    color:    #999;
    font-style: italic;
}
body {
	background: #f5f5f2;
	font-family: 'Open Sans','Helvetica Neue', Helvetica,Arial, sans-serif;
}
.required {
	color: red;
}
.error {
	color: red;
	padding-top: 10px;
}
.form-control.error {
	border-color: red;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/ajax-loader.gif')
                50% 50%
                no-repeat;
}
.cover {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(26, 25, 25, .8);
}
body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.mb {
	margin-bottom: 15px;
}
.mt {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.pt {
	padding-top: 15px;
}
.br {
	border-right: 1px solid #999;
	display: block;
}
.relative {
	position: relative;
}
/*.loader {
	position: fixed;
	top: 0;
	z-index: 9999999999999;
	width: 100%;
	height: 100%;
	background-color: #081636;
	background-image:url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}*/
* {
	margin: 0;
}
.break-word {
	-webkit-word-wrap: break-word;
	-moz-word-wrap: break-word;
	-ms-word-wrap: break-word;
	-o-word-wrap: break-word;
	word-wrap: break-word;
}
/*p {
	font-family: 'Lora', serif;
	line-height: 1.8em;
	font-size: 1.5em;
	color: #2a2730;
}*/
th, td {
	font-family: 'Lora', serif;
	line-height: 28px;
	font-size: 15px;
	color: #2a2730;
}
button:active, button:focus {
	outline: 0;
}
a{
	color:#5B5664;
	text-decoration: none;
	display: inline-block;
	outline: 0;
	
	-o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	/* ...and now for the proper property */
	transition:color .2s ease-out, background .2s ease-in;	
}
label{font-weight: 400;max-width: 95%;}
a:hover,
a:focus {
	cursor: pointer;
	text-decoration: none;
}
::selection {
	background:#27ae60;
	color:#fff;
	text-shadow:none
}
::-moz-selection {
	background:#27ae60;
	color:#fff;
	text-shadow:none
}
blockquote {
	font-size:1em;
}
input[type="checkbox"]{
	vertical-align: top;
	margin-right: 10px
}
.label {
	font-size: 80%;
}
.clear {
	clear:both;
}
.left {
	float: left
}
.right {
	float: right;
}
.hr {
	margin: 20px auto 30px;
	border-bottom: 2px solid #fff;
	border-top:1px solid #f0f0f0;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: capitalize;
}
b, strong {
	font-weight: 600;
}
.logo {
	margin:0px;
}
.warning {
	display: none; 
	color:red;
}
.fa-emerald {
	color:#27ae60;
}
.wrapcontent {
	min-height: 720px;
}
select {
	cursor: pointer;
}
.requiredsign {
	color:#e95b4c;
}
.feedbackhidden {
	display: none;
}
.btnloading {
	min-width:100px;
	background-image: url('../img/loading.gif');
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px
}
.popinfo {
	padding:7px 0px;
	background-color: rgba(243, 156, 18,0.8);
	color: #fff;
}
.closepop {
	font-size: 1em;
	cursor: pointer;
	color:#fff !important;
	text-decoration: none !important;
}
img {
	display: block;
	max-width: 100%;
	width: auto;
}
a img
{
	border:none;
}
/*===========================================================================================================*/
/*=========================================== TOP ===========================================================*/
/*===========================================================================================================*/
nav.navbar-default.navbar-fixed-top {
    background: rgba(48, 44, 44, 0.75);
}
.navbar-nav>li>.menulogined {
	margin-top:0px;
}
nav.navbar-default.navbar-fixed-top li a {
	color: #fff;
}
nav.navbar-default.navbar-fixed-top li a:hover {
	color: #fff;
}
.dropdown .dropdown-menu {
	width: 420px;
	left: -120px;
	background: rgba(94, 211, 82, .7);
}
.dropdown .dropdown-menu li {
	float: left;
	width: 207px;
}
.dropdown .dropdown-menu li a {
	padding: 5px 10px;
}
.dropdown .dropdown-menu li:nth-child(even) {
	padding-left: 3%
}
.nav.navbar-nav .dropdown.open .dropdown-menu a:focus,
.dropdown.open ul.dropdown-menu li a:hover {
	background-color: unset;
}
nav.navbar-default.navbar-fixed-top .dropdown>a,
nav.navbar-default.navbar-fixed-top .dropdown.open>a,
nav.navbar-default.navbar-fixed-top .dropdown.open>a:focus,
nav.navbar-default.navbar-fixed-top .dropdown.open>a:hover {
	color: #fff;
	background-color: unset;
}
ul.nav.navbar-nav ul.dropdown-menu>li>a:focus,
ul.nav.navbar-nav ul.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #fff;
    background-color: unset;
    text-decoration: underline;
}
ul.nav.navbar-nav li a:focus,
ul.nav.navbar-nav li a:hover {
	color: rgba(94, 211, 82, .7);
}
.dropdown-menu li:first-child > a:after {
    content: '';
    position: absolute;
    left: 200px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(94, 211, 82, .7);
}
.navbar-header .navbar-brand {
	padding: 7px 15px;
}
/*===========================================================================================================*/
/*=========================================== Main Slide ====================================================*/
/*===========================================================================================================*/
.slidetext {
	margin-top: 15%;
}
.txtslider h1,
.txtslider h2 {
	font-size:3em;
	color:#fff;
	font-family:'Montserrat', sans-serif;
	text-shadow: 1px 1px 2px #888;
	margin-top:0.75em
}
.txtslider h1.h1slide{font-size: 1.5em;}
.txtslider p {
	color:#fff;
	text-shadow: 1px 1px 2px #888;
	font-size:1.5em;
	margin-bottom:1em;
}
.txtslider {
	padding-left:10px;
}
/********* Search Form ********/
.wrapslide {
	position: relative;
}
.wrapfrsearch {
	margin-top: 10%;
}
.search-form {
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
	display: table;
	/*background-image: linear-gradient(-179deg, #FFD000 0%, #FFB300 100%);*/
	background: rgba(255,255,255,0.7);
	border-radius: 8px;
    padding: 10px 20px 20px 20px;
    position: relative;
}
.search-form .form-group {
	display: block;
	float: left;
    position: relative;
}
.wrapper-input {
    position: relative;
    display: inline-block;
    width: 100%;
}
.search-form .wrapper-input .input-text {
	border-radius: 4px;
    height: 50px;
    padding: 16px 10px 14px 10px;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
}
.search-form .form-group .control-label {
	display: block;
	font-size: 14px;
	line-height: 19px;
}
.search-form .swap-locations {
    background: linear-gradient(-179deg, #484535 0%, #1E1803 100%);
    border-radius: 16px;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.5);
    display: block;
    height: 32px;
    margin: 18px 4px;
    padding: 7px;
    position: relative;
    top: 15px;
    width: 32px;
    margin: 15px auto;
}
.search-form .swap-locations i {
	display: block;
    height: 18px;
    width: 18px;
    font-size: 18px;
    color: #fff;
}
.search-form .button {
    height: 50px;
    margin: 20px 0 0 0;
    width: 100%;
}
.button-red {
    background-color: #239c56;
    border: 1px solid #3c763d;
    box-shadow: inset 0px 2px 0px 0px #28b162;
    color: #FFF;
    line-height: 50px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
.button-red:hover {
	background-color: #3c763d;
}
.button {
    border-radius: 4px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
.search-form .glyphicon-search {
    margin-right: 10px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*===========================================================================================================*/
/*=========================================== Back to Top button ============================================*/
/*===========================================================================================================*/
.back-to-top {
	display: none;
	padding-top: 12px;
	text-align: center;
	position: fixed;
	z-index: 5;
	bottom: 45px; right: 25px;
	font-size: 22px;
    color: #b0b0b0;
    line-height: 52px;
	width: 50px;
	height: 50px;
	border: solid 2px #FFB300;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: transparent;
}
.back-to-top .fa {
	display: block;
}
.back-to-top:focus {
	color: #b0b0b0;
	border-color: #FFB300;
	background-color: transparent;
}
.back-to-top:hover {
	color: #FFB300;
	border-color: #FFB300;
	background-color: #e8e8e8;
}
/*===========================================================================================================*/
/*=========================================== Why US ========================================================*/
/*===========================================================================================================*/
.wrapwhyus {
	padding:10px 0px;
	background: rgba(213, 219, 219, 0.7);
	width: 100%;
	display: table;
}
.wrapwhyus i.fa {
	border:1px solid;
	font-size:1.5em;
	vertical-align:middle;
	color: #000;
	width: 40px;
	height: 40px;
	line-height: 38px;
	border-radius: 20px;
}
.wrapwhyus div {
	font-weight: 600;
}
/*===========================================================================================================*/
/*=========================================== Video welcome =================================================*/
/*===========================================================================================================*/
.parallax {
	width: 280px;
	margin: auto;
	text-align: center;
}
.parallax a {
	margin-top: 30%;
}
.parallax a i {
	font-size: 50px;
	color: #e30919 ;
}
.parallax a h1 {
	color: #fff;
	font-size: 28px;
	margin-top: 10px;
}
.modal1 {
	display:    none;
    position:   fixed;
    z-index:    1000;
    top:        30%;
    left:       27%;
}
/*===========================================================================================================*/
/*=========================================== Top Transfers =================================================*/
/*===========================================================================================================*/
.tthome {
	font-size:2em;
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}
.tthome span {
	background: #f5f5f2;
	padding: 0 15px;
	position: relative;
	z-index: 1;
}
/*.tthome:before {
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	border-top: 2px solid white;
	border-bottom: 1px solid #fff;
	border-top:1px solid #f0f0f0;
	top: 50%;
	width: 100%;
}
.tthome:before {
	left: 0;
}*/
h1.tthome {
	margin-top:30px;
}
.imgboxfigure {
	position:relative;
	background-color: #ecede8;
}
.transfer-content {
	padding: 0 5px;
	height: 100px;
	overflow: hidden;
}
.transfer-title {
	text-align: center;
	border-bottom: 1px solid #000;
}
.transfer-title a {
    color: #244677;
    text-transform: capitalize;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    padding: 0 20px;
    text-align: center;
}
.transfer-content p {
	font-size: 14px;
	margin-top: 10px;
}
.transfer-image {
	width: 100%;
}
.transfer-image a {
	display: block;
}
.transfer-image img {
	width: 100%;
	display: block;
	margin: auto;
}
.rowbox .inner {
	height: 450px;
}
/*===========================================================================================================*/
/*=========================================== Top Deals =====================================================*/
/*===========================================================================================================*/
.topdeal {
	margin-top: 20px;
	margin-bottom: 10px;
}
.countdowntopdeal {
	margin: 20px 0px;
}
.titledeal{
    background: #2ecc71;
    color:#fff;
}
.titledeal p {
	color: #e8fbf0;
	font-style: italic;
	font-size: 16px;
	padding-bottom: 10px;
}
.titledeal a.go {
	display: inline-block;
	width: 30px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    border-radius: 15px;
    text-decoration: none;
}
.titledeal:after {
	content: '';
    position: absolute;
    display: inline-block;
    border: 20px solid transparent;
    border-top-color: #2ecc71;
    margin-left:-20px;
	z-index: 2;
}
.cttopdeal {
	position: relative;
	padding:40px 0px 30px;
	color:#fff;
}
.cttopdeal a.btn {
	color:#fff;
}
.img-bgtour {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.overlay-darken {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: black;
	top: 0;
	opacity: .7;
}
.cttopdeal h2 {
	margin-top: 0px;
}
.cttopdeal .badge {
	vertical-align: top;
}
.badge-warning {
	background-color: #FFC433;
}
.cttopdeal .imgdeal {
	border:2px solid #fff;
	border-radius: 2px;
	margin-bottom: 10px;
}
#slidedealtour .owl-next, #slidedealtour .owl-prev {
	height: 100px;
	padding-top: 40px;
	background-color: transparent;
}
#slidedealtour .owl-next:hover, #slidedealtour .owl-prev:hover {
	background-color: rgba(5, 188, 33, 0.4);
}
#slidedealtour .owl-next {
	position: absolute;
	top: 30%;
	right: 20px;
}
#slidedealtour .owl-prev {
	position: absolute;
	top: 30%;
	left: 20px;
}
.btnbookdeal {
	background: none;
	border: 2px solid #fff;
	border-radius: 2px;
	width: 150px;
	text-transform: uppercase;
}
.btnbookdeal:hover {
	background: rgba(255,255,255,0.3);
}
/*.imgdeal .activitybanners,*/
.pricedeal span.price {
	color:#fff;
	font-size:2.5em;
	line-height:100%;
}
.pricedeal i.fa-dollar {
	vertical-align:top;
	margin-top:5px;
	font-weight:600;
	font-size:1.25em;
}
.cttopdeal .pricesaleoff {
	color:#c0c0c0;
}
.pricesaleoff {
	text-decoration:line-through;
	color:#999;
}
.imgdeal .activitybanners {
	right: 15px;
}
.activitybanners {
	position: absolute;
	top: 15px;
	right: -1px;
	z-index: 10;
}
.activitybanners p.acbanner {
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 3px 10px 3px 3px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	margin: 0 0 5px 0;
	position: relative;
}
.acbanner i.fa {
	font-size: 1.15em;
}
.acdeal {
	background-color: #8e44ad;
}
.acdeal i.fa {
	color: #8e44ad;
}
.acbestseller {
	background-color:#e74c3c;
}
.acbestseller i.fa {
	color: #e74c3c;
}
.facircle {
    background: #fff;
    width: 26px;
    display: inline-block;
    height: 26px;
    border-radius: 13px;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
}
/*===========================================================================================================*/
/*=========================================== Footer =====================================================*/
/*===========================================================================================================*/
.wrapfooter {
	/*background: #3A3A32;*/
	background: rgba(48, 44, 44, 0.65);
	padding-top: 20px;
	padding-bottom: 10px;
	color: #000;
}
.wrapfooter h3 {
	margin-top: unset;
}
.footer a {
	color:#c0c0c0;
}
.contact-us img {
	width: 27px;
	float: left;
	padding-right: 5px;
	vertical-align: top;
}
.footer .list-unstyled img {
	max-width: unset;
	width: 80px;
	height: 80px;
}
.media-body h5 {
	margin-top: unset;
	margin-bottom: 7px;
}
.tripadvisor-wrapper {
	border: 1px solid #fff;
	padding-left: 15px;
}
.tripadvisor-review img {
	width: 80%;
}
.socialfooter>a {
	display:inline-block;
	width: 35px;
	height: 35px;
	background-color: transparent;
	color: #fff;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	overflow: hidden;
	padding: 7px;
	border: 2px solid #4d4d45;
	font-size: 16px;
}
.socialfooter a.fb:hover {
	color: #fff;
	text-decoration: none;
	background: rgb(2, 107, 147);
	border: 2px solid #27ae60;
}
.socialfooter a.ins:hover {
	color: #fff;
	text-decoration: none;
	background-color: #27ae60;
	border: 2px solid #27ae60;
}
.socialfooter a.tw:hover {
	color: rgb(8, 166, 225);
	text-decoration: none;
	background: #fff;
	border: 2px solid #27ae60;
}
.footer-bottom {
	margin-top: 20px;
}
.footer-bottom p {
	margin-bottom: unset;
	font-weight: 500;
}
/*===========================================================================================================*/
/*=========================================== Private Transfer ==============================================*/
/*===========================================================================================================*/
.search-container {
	padding-top: 50px;
}
.search-container .search-form {
	padding: 10px 10px 20px 10px;
}
.search-form label {
	color: #555;
}
.overlay-darkquare {
    background: transparent url(../img/pattern.png) repeat top left;
}
.inner {
	background: rgb(234, 237, 237);
	padding: 6%;
	border: 1px solid rgb(170, 183, 184);
	position: relative;
	height: 350px;
}
.img {
	border: 1px solid rgb(170, 183, 184);
	padding: 3%;
	/*display: block;*/
	width: 100%;
	background-color: #fff;
	position: relative;
}
.img img {
	display: block;
	width: 100%;
}
.img span.fix {
	position: absolute;
	bottom: 8px;
	right: 3%;
	background: rgba(39, 55, 70, .7);
	display: block;
	width: 94%;
	color: #fff;
}
.img .fix font {
	padding: 2px 8px;
	font-size: 12px;
}
.inner .more {
	padding: 3px 8px;
	box-shadow: 1px 1px 1px rgba(141, 140, 140, .8);
	background: rgba(249, 85, 32, .8);
	color: #fff;
	position: absolute;
	bottom: 1px;
	right: 1px;
}
.inner .more:hover {
	background: rgb(245, 91, 42);
}
.title a {
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
}
.interested, .starline {
	text-align: center;
}
.starline-container {
	width: 98%;
	margin: auto;
	position: relative;
}
.starline span {
	background-color: #f5f5f2;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	color: rgb(227, 86, 15);
}
.starline:before {
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	border-bottom: 1px solid rgba(34, 226, 153, .7);
	border-top:1px solid #000;
	top: 55%;
	width: 100%;
}
.boxradius {
	background-color: #fff;
	border: 1px solid #d9dad0;
	margin-bottom: 15px;
	padding: 15px;
	border-radius: 5px;
}
.activitylink {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.boxradius h2,
.boxradius h3 {
    font-size: 22px;
}
.boxradius h2,
.boxradius h3,
.boxradius h4 {
    margin-top: 5px;
}
.acthumbnail {
	width: 100%;
	margin-bottom: 10px;
}
.activitysum p.pstar {
    margin-bottom: 10px;
}
.activitysum p,
.boxprice {
    color: #868780;
    margin-bottom: 0px;
}
.quote {
    font: italic normal 14px Georgia,"Times New Roman","Century Schoolbook L",serif;
}
.activitysum .hr {
	margin: 10px auto;
}
.circlego {
	/*display: block;*/
	padding: 10px 15px;
	background: rgba(50, 182, 36, .9);
	color: #fff;
	font-weight: 600;
	font-size: 1.3em;
	position: relative;
}
.circlego::after {
  background: #fff;
  border-bottom: 42px solid transparent;
  border-left: 20px solid rgba(50, 182, 36, .9);
  border-top: 42px solid transparent;
  content: '';
  position: absolute;
  right: -10px;
  top: -17px;
}
/*===========================================================================================================*/
/*=========================================== View Transfer =================================================*/
/*===========================================================================================================*/

.private-thumbnail {
	position: relative;
	display: inline-block;
}
.private-thumbnail img {
	height: 240px;
}
.position {
	display: none;
}
.private-thumbnail:hover .position {
	display: block;
	position: absolute;
	top: 165px;
	right: -9px;
}
.label-detail {
	padding: 5px 8px;
	width: 130px;
	font-size: 14px;
	background-color: #FFD000;
	border-right: 1px solid lightgray;
	border-top-right-radius: 3px;
	float: right;
	position: relative;
}
.label-detail a {
	display: block;
}
.label-detail a::after {
	content: '';
	position: absolute;
    left: 120px;
    top: 32px;
    border-right: 10px solid transparent;
    border-top: 7px solid #444;
}
.transfer-list h5 a {
	font-size: 1.6em;
	font-weight: 600;
}
/*===========================================================================================================*/
/*=========================================== Contact Page ==================================================*/
/*===========================================================================================================*/
.cont-button {
	border-radius: 3px;
}
.map {
	display: block;
	margin-top: 15px;
}
.map iframe {
	width: 100%;
	height: 300px;
}
.office {
	display: block;
	margin-top: 15px;
}
.office .contact-office {
	font-size: 2em;
	text-decoration: underline;
}
.help-content {
	border: 1px solid lightgray;
	padding: 5px;
	font-family: tahoma;
}
.button-group button {
    outline: none;
    padding: 7px 25px;
    background-image: linear-gradient(-179deg, #FFD000 0%, #FFB300 100%);
    border: 1px solid #D99800;
    box-shadow: inset 0px 2px 0px 0px #FFEA93;
    color: #000;
}
/*===========================================================================================================*/
/*=========================================== Detail Page  ==================================================*/
/*===========================================================================================================*/
.transfer-header {
	border-bottom: 1px dotted #999;
	padding-bottom: 15px;
}
.transfer-header h3 {
	font-size: 2.3em;
	font-weight: 400;
	text-align: left;
}
.transfer-header .unset-height {
	height: unset;
	margin-bottom: unset;
	/*padding: unset;*/
	color: #999;
}
.from-to {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
}
.border-bottom {
	border-bottom: 1px dotted #999;
	padding-bottom: 15px;
}
.car-introduce {
	text-align: left;
}
.car-introduce h4 {
	font-weight: 300;
	text-transform: capitalize;
}
.car-introduce p {
	margin-bottom: unset;
	/*padding: unset;*/
}
.car-introduce p span.pax {
	margin-right: 15px;
}
.car-price {
	display: block;
	text-align: center;
}
.car-price p {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
}
.car-price input[type="submit"] {
	color: #fff;
	padding: 5px 15px;
	background: rgba(5, 147, 10, .9);
	font-size: 1.3em;
	border-radius: 3px;
	box-shadow: inset 0px 2px 0px 0px rgb(77, 233, 82);
	border: 1px solid rgb(20, 129, 24);
}
.car-price input[type="submit"]:hover {
	color: unset;
	/*background-image:linear-gradient(-1deg, #E58C00 0%, #FFB300 100%);*/
	background: rgb(53, 202, 57);
	border:1px solid #E68E00;
}
.transfer-blog {
	margin-top: 15px;
}
.transfer-blog p {
	padding: unset;
	margin-bottom: unset;
	margin-top: 15px;
}
.transfer-blog p img, .transfer-blog img {
	padding: 5px;
	border: 1px solid #E68E00;
	text-align: center;
	display: block;
	margin: auto;
}
.rate {
	margin-top: 25px;
}
.transfer-blog h3 + img {
	display: block;
	width: 100%;
	/*height: 400px;*/
}
/*===========================================================================================================*/
/*=========================================== Booking Page ==================================================*/
/*===========================================================================================================*/
.booking-form h2 {
	font-weight: 300;
}
.page-input {
	margin-bottom: 20px;
}
.block-step {
	display: block;
	height: auto;
	margin-top: 15px;
	height: 50px;
}
.block-step .step {
	background-image: linear-gradient(-179deg, #FCFCFC 0%, #F0F0F0 100%);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    /*display: block;*/
    float: left;
    height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    width: 50%;
    overflow: hidden;
}
.block-step .step.active {
	background-image: linear-gradient(-179deg, #FFD000 0%, #FFB300 100%);
}
.block-step .step .label-step {
    border-radius: 15px;
    border: 2px solid #E5E5E5;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    color: #9B9B9B;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 10px;
    margin: 10px 10px 10px 20px;
    width: 30px;
}
.block-step .step.active .label-step {
    border-color: #F1AC0B;
    color: #000;
}
.block-step .step.completed .label-step {
    border-color: #F1AC0B;
    color: #000;
}
.block-step .step.completed .label-step span {
	padding: 7px;
	color: #F1AC0B;
}
.block-step .step .label-step span {
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    display: block;
    height: 28px;
    padding: 9px;
    width: 28px;
}
.block-step .step .text-step {
    color: #9B9B9B;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    margin-left: 10%;
    font-size: 1.5em;
}
.block-step .step.active .text-step {
	color: #000;
}
.block-description {
	margin-top: 25px;
	display: block;
	/*padding-bottom: 5px;*/
	border-bottom: 1px dotted #000;
}
.block-description h5 {
	text-transform: capitalize;
	font-weight: 400;
	font-size: 1.7em;
}
.block-description p {
	font-size: 1.3em;
	margin: unset;
}
.block-form {
	padding-bottom: 20px;
	border-bottom: 1px dotted #000;
}
.fieldset-title {
	font-weight: unset;
	text-transform: capitalize;
}
.form-group {
	text-align: left;
	/*margin: unset;*/
}
.form-group .control-label {
	text-align: left;
}
.block-form .fifty {
	width: 48%;
	float: left;
}
.block-form .fifty:first-child {
	margin-right: 4%;
}
.button-group {
	margin-top: 20px;
	font-weight: 400;
    font-size: 1.4em;
    display: block;
    padding-bottom: 15px;
}
.button-group button {
	outline: none;
	padding: 7px 25px;
    background-image: linear-gradient(-179deg, #FFD000 0%, #FFB300 100%);
    border: 1px solid #D99800;
    box-shadow: inset 0px 2px 0px 0px #FFEA93;
    color: #000;

}
.button-group button:hover {
	background-image: linear-gradient(-1deg, #E58C00 0%, #FFB300 100%);
    border: 1px solid #E68E00;
}
.button-group a {
	margin-top: 7px;
}
#departureDate-error {
	display: none !important;
}
fieldset #name-error {
	display: none !important;
}
#bookForm label {
	display: inline-block;
}
.spec {
	width: 100%;
	padding: unset;
	/*height: unset;*/
}
.spec input[type="text"]:focus {
	border-color: #B6D5F7 #B6D5F7 #B6D5F7 #B6D5F7;
    outline: none;
    -moz-box-shadow: 0 0 10px #B6D5F7;
    -webkit-box-shadow: 0 0 10px #B6D5F7;
    box-shadow: 0 0 10px #B6D5F7;
}
.spec .bfh-countries {
	width: 30%;
	border: unset;
	outline: none;
	height: 100%;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.spec .bfh-phone {
	width: 68.6%;
	height: 100%;
	border: unset;
	padding: 0 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	outline: none;
	font-size: unset;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
span.calendar,
span.time,
span.pick-up,
span.drop-off,
span.email,
span.phone {
	font-size: 20px;
}
span.passenger {
	font-size: 18px;
}
span.calendar {
	position: absolute;
	right: 53.5%;
	top: 3px;
}
span.time,
span.passenger,
span.pick-up,
span.drop-off,
/*span.email,*/
span.phone {
	position: absolute;
	right: 22px;
	top: 4px;
}
span.email {
	position: absolute;
	right: 22px;
	top: 15px;
}
.summary-container {
	/*position: relative;*/
	/*position: fixed;*/
    /*top: 34.5%;*/
    /*right: 1%;*/
}
.summary-container.confirmation {
	/*top: 34%;*/
}
.summary {
    background: #FFF6CC;
    border-radius: 4px;
    border: none;
    padding: 15px 20px 25px 20px;
    margin-top: 15px;
    box-shadow: 0 5px 10px;
}
span.pin-left,
span.pin-right {
	font-size: 22px;
}
span.pin-left {
	position: absolute;
	top: 0;
	left: 25px;
}
span.pin-right {
	position: absolute;
	top: 0;
	right: 5px;
}
.summary-content, .summary-contact {
	border-bottom: 1px dotted #000;
	padding-bottom: 15px;
}
.summary-content h3, .summary-cost h3 {
	font-size: 16px;
	font-weight: 300;
	text-transform: capitalize;
}
.summary-block h6 {
	margin-bottom: 5px;
}
.summary-block p {
	line-height: 16px;
}
.summary-contact p {
	margin-bottom: unset;
}
.striped {
	background-color: #f9f9f9;
	font-size: 1.3em;
}
textarea.form-control {
	text-align: left;
	margin-left: 0;
}
/*===========================================================================================================*/
/*=========================================== Sub menu ======================================================*/
/*===========================================================================================================*/
.submenu {
	border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}
.breadcrumb {
    margin-bottom: 0px;
    background: none;
    padding: 12px 0px;
}
.breadcrumb li, .breadcrumb li a {
	color: rgb(12, 184, 61);
}
.breadcrumb li i.fa-home {
	font-size: 18px;
}