@charset "utf-8";
/* CSS Document */
/*===========================================================================================================*/
/*=========================================== GENERAL SETTINGS ==============================================*/
/*===========================================================================================================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic,300);
@media (max-width: 750px){
	.ulairport li{
		width: 100%;
	}
	.txtslider p {
		margin-top: 1em;
	}
	#showchangetransfer {
		margin-top: 15px;
	}
	.newsletterdesc {
		font-size: 1em !important;
	}
	.wrapnewsletter div.social>a {
		margin:0px 0px 10px !important;
	}
	.boxprice {
		padding-top: 15px;
	}
	.wrapboxcarttour h3 {
		font-size: 1.5em;
		line-height: 135%;
		margin-bottom: 20px;
	}
}
@media (min-width: 768px){
	.ulairport li {
		width: 49%;
	}
	.checkout-step .labelstep {
		font-size: 1em !important;
	}
	.checkout-step .numstep:before {
		content: "";
		display: block;
		width: 0;
		height: 100%;
	}
	.boxprice {
		text-align: right;
		margin-top:75px;
	}
	.quicksearchtitle ul li {
		margin-right: 40px;
	}
}
@media (min-width: 992px){
	.ulairport li {
		width: 33%;
	}
	.tttransfer p {
		font-size: 1.2em !important;
	}
	.boxtourform .input-group-addon {
		width:70%;text-align:left
	}
	.boxwrappricetransfer {
		border-left:1px dotted #fff;
	}
}
@media (min-width: 1200px){
	.txtslider h1.h1slide {
		font-size: 1.875em !important;
	}
	.boxtourform .input-group-addon {
		width:60%;
	}
	.thumbdest h1 {
		font-size:2.5em !important;
	}.thumbdest p {
		font-size:1.5em !important;
	}
	.slidebigtext {
		font-size:3em !important;
	}
	.slidesmalltext {
		font-size: 1.5em !important;
	}
}
@media only screen and (min-width: 560px) and (max-width: 600px){
	.boxdes {
		width:50%;float:left;
	}
}
::-webkit-input-placeholder {
    color:    #999;
    font-style: italic;
}
:-moz-placeholder {
    color:    #999;
    font-style: italic;
}
::-moz-placeholder {
    color:    #999;
    font-style: italic;
}
:-ms-input-placeholder {
    color:    #999;
    font-style: italic;
}
body {
	background: #f5f5f2;
	font-family: 'Open Sans','Helvetica Neue', Helvetica,Arial, sans-serif;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/ajax-loader.gif')
                50% 50%
                no-repeat;
}
.cover {
	display: none;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(26, 25, 25, .8);
}
body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.mb {
	margin-bottom: 15px;
}
.mt {
	margin-top: 15px;
}
.pt {
	padding-top: 15px;
}
.br {
	border-right: 1px solid #999;
	display: block;
}
.relative {
	position: relative;
}
/*.loader {
	position: fixed;
	top: 0;
	z-index: 9999999999999;
	width: 100%;
	height: 100%;
	background-color: #081636;
	background-image:url(../img/loader.gif);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}*/
* {
	margin: 0;
}
.break-word {
	-webkit-word-wrap: break-word;
	-moz-word-wrap: break-word;
	-ms-word-wrap: break-word;
	-o-word-wrap: break-word;
	word-wrap: break-word;
}
/*p {
	font-family: 'Lora', serif;
	line-height: 1.8em;
	font-size: 1.5em;
	color: #2a2730;
}*/
th, td {
	font-family: 'Lora', serif;
	line-height: 28px;
	font-size: 15px;
	color: #2a2730;
}
button:active, button:focus {
	outline: 0;
}
a{
	color:#5B5664;
	text-decoration: none;
	display: inline-block;
	outline: 0;
	
	-o-transition:color .2s ease-out, background .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in;
	/* ...and now for the proper property */
	transition:color .2s ease-out, background .2s ease-in;	
}
label{font-weight: 400;max-width: 95%;}
a:hover,
a:focus {
	cursor: pointer;
	text-decoration: none;
}
::selection {
	background:#27ae60;
	color:#fff;
	text-shadow:none
}
::-moz-selection {
	background:#27ae60;
	color:#fff;
	text-shadow:none
}
blockquote {
	font-size:1em;
}
input[type="checkbox"]{
	vertical-align: top;
	margin-right: 10px
}
.label {
	font-size: 80%;
}
.clear {
	clear:both;
}
.left {
	float: left
}
.right {
	float: right;
}
.hr {
	margin: 20px auto 30px;
	border-bottom: 2px solid #fff;
	border-top:1px solid #f0f0f0;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: capitalize;
}
b, strong {
	font-weight: 600;
}
.logo {
	margin:0px;
}
.warning {
	display: none; 
	color:red;
}
.fa-emerald {
	color:#27ae60;
}
.wrapcontent {
	min-height: 720px;
}
select {
	cursor: pointer;
}
.requiredsign {
	color:#e95b4c;
}
.feedbackhidden {
	display: none;
}
.btnloading {
	min-width:100px;
	background-image: url('../img/loading.gif');
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px
}
.popinfo {
	padding:7px 0px;
	background-color: rgba(243, 156, 18,0.8);
	color: #fff;
}
.closepop {
	font-size: 1em;
	cursor: pointer;
	color:#fff !important;
	text-decoration: none !important;
}
img {
	display: block;
	max-width: 100%;
	width: auto;
}
a img
{
	border:none;
}
/*===========================================================================================================*/
/*=========================================== TOP ===========================================================*/
/*===========================================================================================================*/
nav.navbar-default.navbar-fixed-top {
    background: rgba(48, 44, 44, 0.75);
    /*min-height: 70px;*/
}
.navbar-nav>li>.menulogined {
	margin-top:0px;
}
nav.navbar-default.navbar-fixed-top li a {
	color: #fff;
}
nav.navbar-default.navbar-fixed-top ul.dropdown-menu li a {
	color:unset;
}
nav.navbar-default.navbar-fixed-top li a:hover {
	color: #fff;
}
.dropdown .dropdown-menu {
	width: 420px;
}
.dropdown .dropdown-menu li {
	float: left;
	width: 207px;
}
.dropdown .dropdown-menu li a {
	padding: 3px 10px;
}
.dropdown .dropdown-menu li:nth-child(even) {
	float: right;
}
.nav.navbar-nav .dropdown.open a:focus,
.nav.navbar-nav .dropdown.open a:hover {
	background-color: unset;
	/*color: #fff;*/
}
nav.navbar-default.navbar-fixed-top .dropdown>a,
nav.navbar-default.navbar-fixed-top .dropdown.open>a,
nav.navbar-default.navbar-fixed-top .dropdown.open>a:focus,
nav.navbar-default.navbar-fixed-top .dropdown.open>a:hover {
	color: #fff;
}
/*===========================================================================================================*/
/*=========================================== Main Slide ====================================================*/
/*===========================================================================================================*/
.slidetext {
	margin-top: 15%;
}
.txtslider h1,
.txtslider h2 {
	font-size:3em;
	color:#fff;
	font-family:'Montserrat', sans-serif;
	text-shadow: 1px 1px 2px #888;
	margin-top:0.75em
}
.txtslider h1.h1slide{font-size: 1.5em;}
.txtslider p {
	color:#fff;
	text-shadow: 1px 1px 2px #888;
	font-size:1.5em;
	margin-bottom:1em;
}
.txtslider {
	padding-left:10px;
}
/********* Search Form ********/
.wrapslide {
	position: relative;
}
.wrapfrsearch {
	margin-top: 10%;
}
.search-form {
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
	display: table;
	/*background-image: linear-gradient(-179deg, #FFD000 0%, #FFB300 100%);*/
	background: rgba(255,255,255,0.7);
	border-radius: 8px;
    padding: 10px 20px 20px 20px;
    position: relative;
}
.search-form .form-group {
	display: block;
	float: left;
    position: relative;
}
.wrapper-input {
    position: relative;
    display: inline-block;
    width: 100%;
}
.search-form .wrapper-input .input-text {
	border-radius: 4px;
    height: 50px;
    padding: 16px 10px 14px 10px;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
}
.search-form .form-group .control-label {
	display: block;
	font-size: 14px;
	line-height: 19px;
}
.search-form .swap-locations {
    background: linear-gradient(-179deg, #484535 0%, #1E1803 100%);
    border-radius: 16px;
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.5);
    display: block;
    height: 32px;
    margin: 18px 4px;
    padding: 7px;
    position: relative;
    top: 15px;
    width: 32px;
    margin: 15px auto;
}
.search-form .swap-locations i {
	display: block;
    height: 18px;
    width: 18px;
    font-size: 18px;
    color: #fff;
}
.search-form .button {
    height: 50px;
    margin: 20px 0 0 0;
    width: 100%;
}
.button-red {
    background-color: #239c56;
    border: 1px solid #3c763d;
    box-shadow: inset 0px 2px 0px 0px #28b162;
    color: #FFF;
    line-height: 50px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
.button-red:hover {
	background-color: #3c763d;
}
.button {
    border-radius: 4px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}
.search-form .glyphicon-search {
    margin-right: 10px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*===========================================================================================================*/
/*=========================================== Back to Top button ============================================*/
/*===========================================================================================================*/
.back-to-top {
	display: none;
	padding-top: 12px;
	text-align: center;
	position: fixed;
	z-index: 5;
	bottom: 45px; right: 25px;
	font-size: 22px;
    color: #b0b0b0;
    line-height: 52px;
	width: 50px;
	height: 50px;
	border: solid 2px #FFB300;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	background-color: transparent;
}
.back-to-top .fa {
	display: block;
}
.back-to-top:focus {
	color: #b0b0b0;
	border-color: #FFB300;
	background-color: transparent;
}
.back-to-top:hover {
	color: #FFB300;
	border-color: #FFB300;
	background-color: #e8e8e8;
}
/*===========================================================================================================*/
/*=========================================== Why US ========================================================*/
/*===========================================================================================================*/
.wrapwhyus {
	padding:10px 0px;
	background: rgba(213, 219, 219, 0.7);
	width: 100%;
	display: table;
}
.wrapwhyus i.fa {
	border:1px solid;
	font-size:1.5em;
	vertical-align:middle;
	color: #000;
	width: 40px;
	height: 40px;
	line-height: 38px;
	border-radius: 20px;
}
.wrapwhyus div {
	font-weight: 600;
}
/*===========================================================================================================*/
/*=========================================== Video welcome =================================================*/
/*===========================================================================================================*/
.parallax {
	width: 280px;
	margin: auto;
	text-align: center;
}
.parallax a {
	margin-top: 30%;
}
.parallax a i {
	font-size: 50px;
	color: #e30919 ;
}
.parallax a h1 {
	color: #fff;
	font-size: 28px;
	margin-top: 10px;
}
.modal1 {
	display:    none;
    position:   fixed;
    z-index:    1000;
    top:        30%;
    left:       27%;
}
/*===========================================================================================================*/
/*=========================================== Top Transfers =================================================*/
/*===========================================================================================================*/
.tthome {
	font-size:2em;
	margin-bottom: 25px;
	text-align: center;
	position: relative;
}
.tthome span {
	background: #f5f5f2;
	padding: 0 15px;
	position: relative;
	z-index: 1;
}
.tthome:before {
	/*background: #ddd;*/
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	border-top: 2px solid white;*/
	border-bottom: 1px solid #fff;
	border-top:1px solid #f0f0f0;
	top: 50%;
	width: 100%;
}
.tthome:before {
	left: 0;
}
h1.tthome {
	margin-top:30px;
}
.imgboxfigure {
	position:relative;
	background-color: #ecede8;
}
.transfer-content {
	padding: 0 5px;
	height: 100px;
	overflow: hidden;
}
.transfer-title {
	text-align: center;
	border-bottom: 1px solid #000;
}
.transfer-title a {
    color: #244677;
    text-transform: capitalize;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    padding: 0 20px;
    text-align: center;
}
.transfer-content p {
	font-size: 14px;
	margin-top: 10px;
}
/*===========================================================================================================*/
/*=========================================== Top Deals =====================================================*/
/*===========================================================================================================*/
.topdeal {
	margin-top: 20px;
	margin-bottom: 10px;
}
.countdowntopdeal {
	margin: 20px 0px;
}
.titledeal{
    background: #2ecc71;
    color:#fff;
}
.titledeal p {
	color: #e8fbf0;
	font-style: italic;
	font-size: 16px;
	padding-bottom: 10px;
}
.titledeal a.go {
	display: inline-block;
	width: 30px;
    height: 30px;
    background: #fff;
    line-height: 30px;
    border-radius: 15px;
    text-decoration: none;
}
.titledeal:after {
	content: '';
    position: absolute;
    display: inline-block;
    border: 20px solid transparent;
    border-top-color: #2ecc71;
    margin-left:-20px;
	z-index: 2;
}
.cttopdeal {
	position: relative;
	padding:40px 0px 30px;
	color:#fff;
}
.cttopdeal a.btn {
	color:#fff;
}
.img-bgtour {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-repeat:no-repeat;
	background-position:50% 50%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.overlay-darken {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: black;
	top: 0;
	opacity: .7;
}
.cttopdeal h2 {
	margin-top: 0px;
}
.cttopdeal .badge {
	vertical-align: top;
}
.badge-warning {
	background-color: #FFC433;
}
.cttopdeal .imgdeal {
	border:2px solid #fff;
	border-radius: 2px;
	margin-bottom: 10px;
}
#slidedealtour .owl-next, #slidedealtour .owl-prev {
	height: 100px;
	padding-top: 40px;
	background-color: transparent;
}
#slidedealtour .owl-next:hover, #slidedealtour .owl-prev:hover {
	background-color: rgba(5, 188, 33, 0.4);
}
#slidedealtour .owl-next {
	position: absolute;
	top: 30%;
	right: 20px;
}
#slidedealtour .owl-prev {
	position: absolute;
	top: 30%;
	left: 20px;
}
.btnbookdeal {
	background: none;
	border: 2px solid #fff;
	border-radius: 2px;
	width: 150px;
	text-transform: uppercase;
}
.btnbookdeal:hover {
	background: rgba(255,255,255,0.3);
}
/*.imgdeal .activitybanners,*/
.pricedeal span.price {
	color:#fff;
	font-size:2.5em;
	line-height:100%;
}
.pricedeal i.fa-dollar {
	vertical-align:top;
	margin-top:5px;
	font-weight:600;
	font-size:1.25em;
}
.cttopdeal .pricesaleoff {
	color:#c0c0c0;
}
.pricesaleoff {
	text-decoration:line-through;
	color:#999;
}
.imgdeal .activitybanners {
	right: 15px;
}
.activitybanners {
	position: absolute;
	top: 15px;
	right: -1px;
	z-index: 10;
}
.activitybanners p.acbanner {
	font-weight: bold;
	color: #fff;
	display: block;
	padding: 3px 10px 3px 3px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	margin: 0 0 5px 0;
	position: relative;
}
.acbanner i.fa {
	font-size: 1.15em;
}
.acdeal {
	background-color: #8e44ad;
}
.acdeal i.fa {
	color: #8e44ad;
}
.acbestseller {
	background-color:#e74c3c;
}
.acbestseller i.fa {
	color: #e74c3c;
}
.facircle {
    background: #fff;
    width: 26px;
    display: inline-block;
    height: 26px;
    border-radius: 13px;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
}
/*===========================================================================================================*/
/*=========================================== Footer =====================================================*/
/*===========================================================================================================*/
.wrapfooter {
	/*background: #3A3A32;*/
	background: rgba(48, 44, 44, 0.65);
	padding-top: 20px;
	padding-bottom: 10px;
	color: #000;
}
.wrapfooter h3 {
	margin-top: unset;
}
.footer a {
	color:#c0c0c0;
}
.contact-us img {
	width: 27px;
	float: left;
	padding-right: 5px;
	vertical-align: top;
}
.footer .list-unstyled img {
	max-width: unset;
	width: 80px;
	height: 80px;
}
.media-body h5 {
	margin-top: unset;
	margin-bottom: 7px;
}
.tripadvisor-wrapper {
	border: 1px solid #fff;
	padding-left: 15px;
}
.tripadvisor-review img {
	width: 80%;
}
.socialfooter>a {
	display:inline-block;
	width: 35px;
	height: 35px;
	background-color: transparent;
	color: #fff;
	text-align: center;
	line-height: 20px;
	border-radius: 20px;
	overflow: hidden;
	padding: 7px;
	border: 2px solid #4d4d45;
	font-size: 16px;
}
.socialfooter a.fb:hover {
	color: #fff;
	text-decoration: none;
	background: rgb(2, 107, 147);
	border: 2px solid #27ae60;
}
.socialfooter a.ins:hover {
	color: #fff;
	text-decoration: none;
	background-color: #27ae60;
	border: 2px solid #27ae60;
}
.socialfooter a.tw:hover {
	color: rgb(8, 166, 225);
	text-decoration: none;
	background: #fff;
	border: 2px solid #27ae60;
}
.footer-bottom {
	margin-top: 20px;
}
.footer-bottom p {
	margin-bottom: unset;
	font-weight: 500;
}